.card {
  background: #5F4B8B;
  border-radius: 15px;
  text-align: center;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-title {
  font-weight: normal;
  font-size: 2em;
}

.m-5 {
  margin: 15px;
}

.card-link {
  text-decoration: none;
}

.card-link:hover {
  color: #dd7563;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.card a {
  outline: none;
}
