@import '../../Variables.scss';

.card{
  background: $color-bg-light;
  border-radius: 15px;
  text-align: center;
  padding: 10px 30px;
  box-sizing: border-box;
  margin: 25px 25px;
  justify-content: flex-start !important;
}
.card-title{
  font-weight: normal;
  font-size: 2em;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.m-5{
  margin: 15px;
}
.card-link{
  text-decoration: none;

  &:hover{
    color: darken($color-orange, 10%);
    transition: 300ms all;
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  }
}
.card a{
  outline: none;
}

.container-card > div{

}