.form-work-day > .form-control {
  width: 30%;
}

.form-work-day .form-control > input {
  width: 100%;
}

.container-work-day {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 10px;
}

.radio-photo {
  width: 15px;
  height: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
