@import '../Variables.scss';

.form-work-day > .form-control{
  width: 30%;
}
.form-work-day .form-control > input{
  width: 100%;
}

.container-work-day{
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 10px;

}

.radio-photo{
  
  width: 15px;
  height: 15px;
  align-self: center;
}

