@import '../../Variables.scss';



.container-employee-buttons {
  justify-content: space-evenly;
  > div{
    width: 30%;
    > button{
      background: $gradient-button-danger;
    }
  }

  *{
    padding: 5px;
    font-size: .95em;
  }
}

.wrapper-form.employee .form-wrapper:last-child, .wrapper-form.form-role .form-wrapper:last-child{
  margin: 23px auto;
  margin-bottom: 0;
}

