.button-primary {
  background: -webkit-gradient(linear, left top, right top, from(#E16565), to(#E69A8D));
  background: linear-gradient(to right, #E16565, #E69A8D);
  width: 100%;
  border-radius: 5px;
  color: #F2F2F2;
  font-weight: bold;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 0;
  border: 0;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
}

.button-primary:hover {
  cursor: pointer;
}

.button-primary:active {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
  -webkit-transition: 300ms all;
  transition: 300ms all;
}
