.form-input {
  border-radius: 5px;
  padding: 5px 8px;
  background: #251A3C;
  color: #F2F2F2;
  border: 1px solid #F2F2F2;
  line-height: 1.5;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.form-input:invalid {
  -webkit-box-shadow: 0px 3px 5px rgba(95, 32, 21, 0.3);
          box-shadow: 0px 3px 5px rgba(95, 32, 21, 0.3);
}

.form-input:valid {
  -webkit-box-shadow: 0px 3px 5px rgba(134, 175, 114, 0.3);
          box-shadow: 0px 3px 5px rgba(134, 175, 114, 0.3);
}

.form-input.password {
  padding-right: 45px;
}

.eye-icon {
  color: #F2F2F2;
  font-size: 1.5em;
  position: absolute;
  left: 85%;
  border-left: 1px solid #F2F2F2;
  padding: 5px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.eye-icon:hover {
  cursor: pointer;
}

i.icon-date {
  border-left: 0;
  color: #828282;
  cursor: initial !important;
}
