* {
  color: #F2F2F2;
}

.link-style-green {
  background: -webkit-gradient(linear, left top, right top, from(#86AF72), to(#6897BA));
  background: linear-gradient(to right, #86AF72, #6897BA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-style-green:hover {
  cursor: pointer;
}

.shadowed-text {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}

#app.logged-in {
  background: #31254B;
  padding-left: 21vw;
}

.app-container {
  font-weight: normal;
}

.header {
  font-size: 2em;
  font-weight: bold;
}

.container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-ctr {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.full-width {
  left: 0 !important;
  width: 100vw !important;
}

.form-wrapper:nth-child(even) {
  margin-left: auto;
}

.form-wrapper {
  width: 45%;
}

.wrapper-form {
  margin: 0 auto;
  width: 60%;
}

.form-wrapper > label {
  letter-spacing: 2px;
  font-size: 0.96em;
}

.form-wrapper > .form-control {
  margin: 10px 0;
  margin-bottom: 25px;
  width: 100%;
}

.form-control {
  cursor: initial;
}

.form-control.date input {
  width: 21.4vw;
}

.bold {
  font-weight: bold;
}

.spc-ev {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.no-wrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.spc-bt {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ta-left {
  text-align: left;
}

.full-width {
  width: 100%;
}

.ta-ctr {
  text-align: center;
}

.pd-l-sidebar {
  padding-left: 21vw;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

input[disabled] {
  color: #828282;
}

input:focus, textarea:focus {
  background: #48396a !important;
  -webkit-transition: 300ms all !important;
  transition: 300ms all !important;
}

.uneven-form .form-wrapper:last-child {
  margin: 23px auto;
  margin-bottom: 0;
}

.uneven-form input[type="radio"] {
  margin-right: 0;
}

.label-ls-0 label {
  letter-spacing: 0;
}

input[type="radio"] {
  cursor: pointer;
  margin: 0 5px;
  display: inline;
}

input[type="radio"]:before {
  content: '';
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #31254B;
  position: relative;
  z-index: 4;
  top: -1px;
  left: -1px;
  border: 1px solid #E69A8D;
}

input[type="radio"]:checked:after {
  content: '';
  display: block;
  position: relative;
  z-index: 5;
  border-radius: 50%;
  top: -13.3px;
  left: 3.8px;
  width: 7.5px;
  height: 7.5px;
  border: 0px solid black;
  background: #31254B;
}

input[type="radio"]:checked:before {
  background: #E69A8D;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.container-row {
  -webkit-animation-name: animateDown;
          animation-name: animateDown;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
          animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

@-webkit-keyframes animateDown {
  from {
    margin-top: -10px !important;
  }
  to {
    margin-top: 20px !important;
  }
}

@keyframes animateDown {
  from {
    margin-top: -10px !important;
  }
  to {
    margin-top: 20px !important;
  }
}

.date-modal {
  width: 35%;
}

.react-datepicker-wrapper {
  width: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-left: 10px;
}
