@import './Components/Variables.scss';

*{
  color: $color-light-grey;
}


.link-style-green{
  background: $gradient-button-success;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

}
.link-style-green:hover{
  cursor: pointer;

}
.shadowed-text{
  text-shadow: 0px 2px 2px rgba(0,0,0,.8)
}

#app.logged-in{
  background: $color-bg-dark;
  padding-left: 21vw;

}
.app-container{
  font-weight: normal;
}

.header{
  font-size: 2em;
  font-weight: bold;
}

.container-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-col{
  display: flex;
  flex-direction: column;
}

.container-ctr{
  justify-content: center;
  align-items: center;
}
.container-header{
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}




.form-wrapper:nth-child(even){
  margin-left: auto;
}
.form-wrapper{
  width: 45%;
}

.wrapper-form{
  margin: 0 auto;
  width: 60%;
}


.form-wrapper > label{
  letter-spacing: 2px;
  font-size: 0.96em;
}


.form-wrapper > .form-control{
  margin: 10px 0;
  margin-bottom: 25px;
  width: 100%;
}

.form-control.date input{
  width: 21.4vw;
}

.spc-ev{
  justify-content: space-evenly;
}

.ta-ctr{
  text-align: center;
}

.ml-15{
  margin-left: 15px;
}
.mr-15{
  margin-right: 15px;
}
.mt-15{
  margin-top: 15px;
}
.mb-15{
  margin-bottom: 15px;
}
.ml-auto{
  margin-left: auto !important;
}
.mr-auto{
  margin-right: auto !important;
}

input[disabled]{
  color: $color-disabled-text;
}
input:focus, textarea:focus{
  background: darken($color-bg-light,10%) !important;
  transition: 300ms all !important;
}

.uneven-form .form-wrapper:last-child{
  margin: 23px auto;
  margin-bottom: 0;
}

.uneven-form input[type="radio"]{
  margin-right: 0;
}

.label-ls-0 label{ 
  letter-spacing: 0;
}
//custom Radio

input[type="radio"]{
  cursor: pointer;
  margin: 0 5px;
  &:before{
    content: '';
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: $color-bg-dark;
    position: relative;
    z-index: 4;
    top: -1px;
    left: -1px;
    border: 1px solid $color-orange;
    
  }
  
  display: inline;

  &:checked{
    &:after{
      content: '';
      display: block;
      position: relative;
      z-index: 5;
      border-radius: 50%;
      top: -13.3px;
      left: 3.8px;
      width: 7.5px;
      height: 7.5px;
      border: 0px solid black;
      background: $color-bg-dark;
    }
    &:before{
      background: $color-orange;
      transition: 300ms all;
    }
  }
}
