.form-input-select-container > div[class*="menu"] {
  background: #251A3C;
}

.form-input-select__control {
  background: #251A3C !important;
}

.form-input-select__control--menu-is-open {
  background: #48396a !important;
  -webkit-transition: 300ms all !important;
  transition: 300ms all !important;
}

.form-input-select__single-value {
  color: #F2F2F2 !important;
}

.form-input-select-container {
  width: 100%;
}

.form-input-select__menu > div > *:hover {
  background: #5f2015 !important;
}

.form-input-select__option--is-selected {
  background: #E69A8D !important;
}

.form-input-select__option--is-focused {
  background: #5f2015 !important;
}
